*{
    box-sizing: border-box;
}
.heading {
    font-family: "Roboto";
    letter-spacing: 2px;
    font-size: 48px;
    font-weight: 900;
    color: rgba(145, 145, 145, 0.993);
    font-style: normal;
}
body{
    font-family: "Roboto";
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
}
.search-box{
    display: flex;
    width: 532px;
    justify-content: center;
    border-radius: 32px;
    overflow: hidden;
}
.search-box input{
    width: 500px;
    height: 28px;
    outline: none;
    border: none;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.search-box input::placeholder{
    color: rgba(0, 0, 0, 0.701);
}
form label{
    font-size: 24px;
}
.search-box button{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.fluent--search-12-filled {
  display: inline-block;
  width: 20px;
  height: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23000' d='M5 1a4 4 0 1 0 2.248 7.31l2.472 2.47a.75.75 0 1 0 1.06-1.06L8.31 7.248A4 4 0 0 0 5 1M2.5 5a2.5 2.5 0 1 1 5 0a2.5 2.5 0 0 1-5 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  color: rgba(0, 0, 0, 0.701);
}

.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* weather details */
.card{
    border-radius: 20px;
    height: 440px;
    width: 400px;
    background-color: rgba(197, 197, 197, 0.607);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#place-holder{
    font-weight: 900;
    font-size: 32px;
}
img{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 360px;
}
.weather-details{
    text-align: center;
}
#condition-holder{
    font-weight: 600;
    font-size: 20px;
}
#temp-holder{
    padding: 10px;
    font-weight: 900;
    font-size: 32px;
}

/* loading icon */
.eos-icons--loading {
  color: rgb(227, 254, 186);
  margin: 20px;
  padding: 28px;  
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2A10 10 0 1 0 22 12A10 10 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8A8 8 0 0 1 12 20Z' opacity='0.5'/%3E%3Cpath fill='%23000' d='M20 12h2A10 10 0 0 0 12 2V4A8 8 0 0 1 20 12Z'%3E%3CanimateTransform attributeName='transform' dur='1s' from='0 12 12' repeatCount='indefinite' to='360 12 12' type='rotate'/%3E%3C/path%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

body{
    background: url("../img/pexels-simon73-1183099.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}